
.active{
    transform: scale(1.1);
    margin-left: 20px;
    margin-right: 20px;
}

.gallery{

    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.8s cubic-bezier(0.5, 0, 0, 1) 0.8s, transform 0.8s cubic-bezier(0.5, 0, 0, 1) 0.8s;

    .carousel-view{

        overflow: hidden;
        .carousel-inner{

            display: flex;
            margin: 0;
            padding: 0;
            position: relative;
            transition: all 0ms ease 0s;
            transform: translateX(0px);
           
            .carousel-track{

                width: 44.2087%;
                
               
                margin: 0;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                

           
                    .carousel-item{
                        position: relative;
                        display: none;
                        /* float: left; */
                        width: 100%;
                       
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        transition: transform 0.6s ease-in-out;
                        
                        
                       
                        
                        display:flex;
                    

                        .d-block{
                            width: 40vw;
                            max-width: 440px;
                            height: auto;
                            margin: 30px 15px;
                            transition: all .3s ease-in-out;
                            
                        }
            
                        
                    }
                    
            }
        }

        
    }
}

.meka{
    width: 100%;
    
    height: auto;
    margin-bottom: 10px;
    transition: all .3s ease-in-out;
    
    padding:0 20px;
   &:hover {
    
    
    
    
}
}

.display{
    display:flex;
    align-items:center;
}

.slick-center {
    transform: scale(1.12);
    margin-left:20px;
    margin-right:20px;
    padding-left:20px;
    margin-top:10px;
    transition: all .3s ease-in-out;
}

.slick-list { 
    padding:10px 80px !important;
    margin-left:0px !important;
  }

  .slick-slide {
	
    margin-left:0px !important;
}

.slick-track{
    margin:auto;
    margin-left:auto;
    margin-right:auto;
}

.contain{
    height:auto;
    max-height:550px;
    width:100%;
    max-width:100%;
    overflow: hidden;
    margin-top:-40px;
}

.slid{
    width:44% !important
}

@media (min-width: 1980px) {
    .contain{
        height:100% !important;
        max-height:800px;
        width:100%;
        max-width:100%;
        overflow: hidden;
        margin-top:-40px;
    }
}

